<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }} | {{ site.title }}</title>

  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />

  <!-- Swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

  <!-- GLightbox -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox@3.3.0/dist/css/glightbox.min.css">
</head>


<body class="content ">
  <div class="container mx-auto">
    {% include header.html %}
    {% for section in page.sections %}
    {% case section.type %}

    {% when "banner_slider" %}
    {% include sections/banner-slider.html banners=section.banners %}

    {% when "category_grid" %}
    {% include sections/category-grid.html items=section.items %}

    {% when "product_list" %}
    {% include sections/product-list.html %}

    {% when "contact_form" %}
    {% include sections/contact-form.html %}

    {% endcase %}
    {% endfor %}
    {{ content }}


    {% include footer.html %}
  </div>

  <script>
    var swiper = new Swiper(".mySwiper", {
      loop: true,
      autoplay: {
        delay: 3000, // 3 detik
        disableOnInteraction: false
      }
    });

  </script>
  <script src="https://cdn.jsdelivr.net/npm/glightbox@3.3.0/dist/js/glightbox.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      GLightbox({
        selector: '.glightbox',
        loop: true,
        touchNavigation: true,
        zoomable: true
      });
    });


  </script>
  <script>
    var form = document.getElementById("my-form");

    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("my-form-status");
      var data = new FormData(event.target);

      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: { 'Accept': 'application/json' }
      }).then(response => {
        if (response.ok) {
          status.innerHTML = "Thanks for your submission!";
          status.className = "text-green-600";
          form.reset();
        } else {
          response.json().then(data => {
            if (data.errors) {
              status.innerHTML = data.errors.map(e => e.message).join(", ");
            } else {
              status.innerHTML = "Oops! There was a problem submitting your form.";
            }
            status.className = "text-red-600";
          });
        }
      }).catch(() => {
        status.innerHTML = "Oops! There was a problem submitting your form.";
        status.className = "text-red-600";
      });
    }

    form.addEventListener("submit", handleSubmit);
  </script>

  <script>
    const menuBtn = document.getElementById('menuBtn');
    const closeMenu = document.getElementById('closeMenu');
    const mobileMenu = document.getElementById('mobileMenu');

    menuBtn.addEventListener('click', () => {
      mobileMenu.classList.remove('opacity-0', 'pointer-events-none');
      mobileMenu.classList.add('opacity-100');
    });

    closeMenu.addEventListener('click', () => {
      mobileMenu.classList.remove('opacity-100');
      mobileMenu.classList.add('opacity-0', 'pointer-events-none');
    });
  </script>
  <script>
    const openBtn = document.getElementById('toggleSidebar');
    const closeBtn = document.getElementById('closeSidebar');
    const sidebar = document.getElementById('productSidebar');
    const overlay = document.getElementById('sidebarOverlay');

    function openSidebar() {
      sidebar.classList.remove('translate-x-full');
      overlay.classList.remove('opacity-0', 'pointer-events-none');
    }

    function closeSidebar() {
      sidebar.classList.add('translate-x-full');
      overlay.classList.add('opacity-0', 'pointer-events-none');
    }

    openBtn.addEventListener('click', openSidebar);
    closeBtn.addEventListener('click', closeSidebar);
    overlay.addEventListener('click', closeSidebar);
  </script>

</body>

</html>