---
layout: default
---
<div class=" flex mt-4 gap-6">
    <div class="w-3/4">
        <img src="{{ page.banner | relative_url }}" class="w-full">

        <div class="grid grid-cols-7 gap-2 mt-4">
            {% for img in page.gallery %}
            <a href="{{ img.src | relative_url }}" class="glightbox" data-gallery="products" data-title="{{ img.alt }}">
                <img src="{{ img.src | relative_url }}" alt="{{ img.alt }}"
                    class="object-cover border border-gray-300 hover:opacity-80 transition w-[100px] h-[100px]">
            </a>
            {% endfor %}
        </div>

        <div class="prose mt-4">
            {{ content }}
        </div>
    </div>
    <div class="w-1/4 border-t-[8px] border-[#9fc646] border-l-[1px] border-l-gray-300 ">
        <div class="">
            <h4 class="pl-3 uppercase text-[#9fc646] font-bold py-1">Workstations</h4>
            {% assign products = site.products | where: "category", "workstation" %}

            {% for product in products %}

            <a href="{{ product.url | relative_url }}"
                class="text-[85%] uppercase border-t border-gray-300 flex pl-8 py-1 hover:text-[#9fc646]" {% if
                page.url==product.url %} aria-current="page" {% endif %}>
                {{ product.title }}
            </a>
            {% endfor %}
        </div>
        <div class="border-t border-gray-300">
            <h4 class="pl-3 uppercase text-[#9fc646] font-bold py-1">Chairs</h4>
            {% assign products = site.products | where: "category", "chairs" %}

            {% for product in products %}

            <a href="{{ product.url | relative_url }}"
                class="text-[85%] uppercase border-t border-gray-300 flex pl-8 py-1 hover:text-[#9fc646]" {% if
                page.url==product.url %} aria-current="page" {% endif %}>
                {{ product.title }}
            </a>
            {% endfor %}
        </div>
        <div class="border-t border-gray-300">
            <h4 class="pl-3 uppercase text-[#9fc646] font-bold py-1">Desking & Storage</h4>
            {% assign products = site.products | where: "category", "desking-storage" %}

            {% for product in products %}

            <a href="{{ product.url | relative_url }}"
                class="text-[85%] uppercase border-t border-gray-300 flex pl-8 py-1 hover:text-[#9fc646]" {% if
                page.url==product.url %} aria-current="page" {% endif %}>
                {{ product.title }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>